@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #313131;
    color: #ffffff;
    height: 100vh;
}

body {
    height: 100%;
}
